apiVersion: v1
kind: Service
metadata:
  name: preview-service
  namespace: ${NAMESPACE}
  labels:
    preview-pr: "${PR_NUMBER}"
spec:
  type: ClusterIP
  selector:
    app: preview-service
  ports:
    - name: http
      port: 80
      targetPort: http
